include README.rst LICENSE CHANGES
include stringparser.py
exclude .editorconfig bors.toml pull_request_template.md requirements_docs.txt version.py
global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo .travis-exclude.yml
